[save_variables]
filename: ~/variables.cfg

[delayed_gcode init_vars]
initial_duration: 1
gcode:
	; Since some of these are calculated it is easier to set them up in Jinja and
	; then save them as variables.
	
	; Movement min/max positions
	{% set X_MIN = 0 %}
	{% set X_MAX = 229 %}
	{% set Y_MIN = 0 %}
	{% set Y_MAX = 229 %}
	{% set Z_MIN = 0 %}
	{% set Z_MAX = 200 %}
	; Movement buffers
	{% set X_BED_CLIP_BUFFER = 0 %}
	{% set Y_BED_CLIP_BUFFER = 25 %}
	{% set Z_BUFFER = 5 %}
	; Macro Speed Settings - Theses are in mm/sec - NOT mm/min!
	{% set XY_SPEED = 50 %}
	{% set Z_SPEED = 20 %}
	{% set E_SPEED = 50 %}
	; Dynamic Square Corner Velocity Settings
	{% set DSCV_ENABLED = 1 %}
	{% set DSCV_MIN = 1 %}
	{% set DSCV_MAX = 5 %}
	{% set DSCV_STEP = 0.5 %}
	; Developer Options
	{% set DEBUG = false %}
	
	; Save variables
	SET_VAR NAME=SAFE_X_MIN VALUE={X_MIN + X_BED_CLIP_BUFFER}
	SET_VAR NAME=SAFE_X_MAX VALUE={X_MAX - X_BED_CLIP_BUFFER}
	SET_VAR NAME=SAFE_Y_MIN VALUE={Y_MIN + Y_BED_CLIP_BUFFER}
	SET_VAR NAME=SAFE_Y_MAX VALUE={Y_MAX - Y_BED_CLIP_BUFFER}
	SET_VAR NAME=SAFE_Z_MIN VALUE={Z_MIN}
	SET_VAR NAME=SAFE_Z_MAX VALUE={Z_MAX}
	SET_VAR NAME=X_PARK VALUE={X_MIN}
	SET_VAR NAME=Y_PARK VALUE={Y_MAX - Y_BED_CLIP_BUFFER}
	SET_VAR NAME=Z_PARK VALUE={(Z_MAX - Z_MIN) / 2}
	SET_VAR NAME=Z_BUFFER VALUE={(Z_MAX - Z_MIN) / 2}
	SET_VAR NAME=XY_SPEED VALUE={XY_SPEED}
	SET_VAR NAME=Z_SPEED VALUE={Z_SPEED}
	SET_VAR NAME=E_SPEED VALUE={E_SPEED}
	SET_VAR NAME=XY_FSPEED VALUE={XY_SPEED * 60}
	SET_VAR NAME=Z_FSPEED VALUE={Z_SPEED * 60}
	SET_VAR NAME=E_FSPEED VALUE={E_SPEED * 60}
	SET_VAR NAME=DEBUG VALUE={DEBUG}
